

/* 
    DESKTOP VIEW
*/

h1{
    color: limegreen;
}


/* 
    TABLET VIEW
*/
@media(max-width:768px){
    h1{
        color: darkorange;
    }
}


/* 
    MOBILE VIEW
*/
@media(max-width:400px){
    h1{
        color: deeppink;
    }
}
